.pagination
	ul.pagination__list
		li.pagination__item: a(href="#").pagination__link: i.icon.icon-arrow-left 
		li.pagination__item: a(href="#").pagination__link.active 1
		li.pagination__item: a(href="#").pagination__link 2
		li.pagination__item: a(href="#").pagination__link 3
		li.pagination__item: a(href="#").pagination__link: i.icon.icon-arrow-right