.slider-widget
	#sliderWidget.slider-widget__list
		.slider-widget__item.slider-widget__item--1
			p Тариф «Будь в курсе» по супер цене только в августе. 
			p
				
				span.price
					i.icon.icon-price-left-sm
					| 4620
				span руб.\месяц
		.slider-widget__item.slider-widget__item--2
			p Ежедневно услугой Call Traking от AkiwaStat пользуются
			.col
				span 730
				span клиентов
		.slider-widget__item.slider-widget__item--1
			p Тариф «Будь в курсе» по супер цене только в августе. 
			p
				
				span.price
					i.icon.icon-price-left-sm
					|4620
				span руб.\месяц
	#carousel-custom-dots.vertical.slider-widget__dots