.subscribe
	form(action="#")
		.row
			.subscribe__item.subscribe__text Подписаться на новости, акции и обновления
			.subscribe__input-elements
				.subscribe__item: input(type="text" placeholder="Введите свой email").subscribe__input
				.subscribe__item: button(type="submit").subscribe__submit.button Подписаться